<!-- Top nav bar (fixed) -->
<nav class="nav-bar">
  <a href="/">
    <img class="nav-bar__logo" src="/img/logo.png">
  </a>
  <i id="logout-button" class="fas fa-sign-out-alt fa-2x logout-icon"></i>

</nav>
