<!-- Top nav bar (fixed) -->
<nav class="nav-bar">
  <a href="/roasted">
    <img class="nav-bar__logo" src="/img/logo.png">
  </a>
  <div class="nav-bar__icons">
    <a href="/roasted/owner/addItem">
      <i class="fas fa-plus addItem-icon icons fa-2x"></i>
    </a>
    <i id="logout-button" class="fas fa-sign-out-alt fa-2x logout-icon"></i>
  </div>
</nav>
