    <!-- Login form -->
    <div id="login-section" class="modal">
        <div class="login-content">
          <span class="close">&times;</span> <!-- &times; -->
          <form class="login-form">
                  <label for="email">Email</label>
                  <input id="email" type="email" autocomplete="off" required name="email">
                  <label for="password">Password</label>
                  <input id="password" type="password" required>
                  <div class="err-msg"> <p>invalid email and/or password</p> </div>
                  <button id="login-submit" type="submit" >Submit</button>
                  <button type="reset" >clear</button>
                  <div>Not a member yet? please <a id="signup-link" href="#">sign-up</a></div>
              </form>
        </div>
      </div>