<!-- signup form -->
<div id="register-section">
  <div class="register-content">
    <span class="close">&times;</span>
    <form class="register-form">
      <label for="email">Email</label>
      <input id="email" type="email" autocomplete="off" required name="email">
      <label for="password">Password</label>
      <input id="password" type="password" required>
      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" type="password" required>
      <div class="err-msg">
        <p>invalid email and/or password</p>
      </div>
      <button id="login-submit" type="submit">Submit</button>
      <button type="reset">clear</button>
      <div>Already a member? please <a id="login-link" href="#">login</a></div>
    </form>
  </div>
</div>
