<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/style.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include partials/_header.ejs %>
    <section class="section__menu">
      <h2 class="header-secondary">
        Menu
      </h2>
      <div class="menu__container">
        <img class="menu__image" src="https://cmeimg-a.akamaihd.net/640/clsd/getty/14bac0639d5f4588a7496aa49dfbbe55">
        <div class="menu__detail">
          <h3 class="header-tertiary">
            Roasted Pork
          </h3>
          <div class="menu__description normal-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit eaque aut mollitia qui minus omnis animi harum itaque
            error quidem perspiciatis aspernatur aperiam adipisci sed pariatur doloribus, reprehenderit nesciunt.
          </div>
          <div class="button button__add">
            Add
          </div>
        </div>
      </div>
      <div class="menu__container">
        <img class="menu__image" src="https://cmeimg-a.akamaihd.net/640/clsd/getty/14bac0639d5f4588a7496aa49dfbbe55">
        <div class="menu__detail">
          <h3 class="header-tertiary">
            Roasted Pork
          </h3>
          <div class="menu__description normal-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit eaque aut mollitia qui minus omnis animi harum itaque
            error quidem perspiciatis aspernatur aperiam adipisci sed pariatur doloribus, reprehenderit nesciunt.
          </div>
          <div class="button button__add">
            Add
          </div>
        </div>
      </div>
      <div class="menu__container">
        <img class="menu__image" src="https://cmeimg-a.akamaihd.net/640/clsd/getty/14bac0639d5f4588a7496aa49dfbbe55">
        <div class="menu__detail">
          <h3 class="header-tertiary">
            Roasted Pork
          </h3>
          <div class="menu__description normal-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit eaque aut mollitia qui minus omnis animi harum itaque
            error quidem perspiciatis aspernatur aperiam adipisci sed pariatur doloribus, reprehenderit nesciunt.
          </div>
          <div class="button button__add">
            Add
          </div>
        </div>
      </div>
    </section>
    <section class="section__checkout">
      <div class="checkout__header">
        <h3 class="header-tertiary">
          Roasted Inc.
        </h3>
        <p class="normal-text">
          147 Spadina Ave
        </p>
      </div>
      <div class="checkout__body">
        <ul class="checkout__list">
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
          <li class="checkout__item">
            <div class="checkout__item--name">Roasted Pig</div>
            <div class="checkout__item--quantity">
              <div class="button__checkout--plus button__checkout">-</div>
              <p class="normal-text">1</p>
              <div class="button__checkout--plus button__checkout">+</div>
            </div>
            <div class="checkout__item--price">$499</div>
          </li>
        </ul>
        <div class="checkout__sumDisplay">
          <p class="normal-text">Total</p>
          <div class="checkout__sumDisplay--total">$1000</div>
        </div>
      </div>
      <div class="checkout__footer">
        <div class="button button__placeOrder">Place Order</div>
        <p class="normal-text">Ready in 15-20minutes</p>
      </div>
    </section>
</body>

</html>
