<!DOCTYPE html>
<html>
<head>
  <title>Roasted</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/orders.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/orders.js"></script>
</head>
<body>
  <nav>NAV PLACE HOLDER</nav>

  <main class="container">
    <section class="orders-container">
      <article>
        <header>Order: XX</header>
        <div>
          <p>Customer: user1@example.com</p>
          <p>Timer: OO:OO</p>
          <button>Finish</button>
        </div>
      </article>
    </section>
  </main>
</body>
</html>
