.button {
  font-size: 1.6rem;
  &__add {
    background-color: #ff8355;
    justify-self: end;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 1.5rem;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: #ff4500;
    }
  }
  &__checkout {
    font-size: 1.6rem;
    &:hover {
      cursor: pointer;
    }
    &--add {}
    &--minus {}
  }
  &__placeOrder {
    padding: 1rem;
    background-color: #ff8355;
    color: white;
    border-radius: 1.5rem;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: #ff4500;
    }
  }
}
