.nav-bar {
  display: grid;
  grid-auto-flow: column;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  &__logo {
    height: 125px;
    cursor: pointer;
  }
  #owner-login-btn {
    width: 20%;
    height: 50px;
    justify-self: right;
    border-radius: 5px;
    box-shadow: 10px 10px 8px #434242;
    font-size: 1.5em;
    margin-top: 3em;
    margin-right: 7em;
  }
  #owner-login-btn:hover {
    background-color: #171414cb;
    color: white;
  }
}
